* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: #222;
  background-color: #fff;
}

body {
  min-height: 100vh;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  border: 1px solid saddlebrown;
  padding: 10px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div#results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  width: 100%;
}

input {
  padding: 12px 15px;
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid gray;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid #007bff;
  outline: none;
  transition: border 150ms ease-in-out;
}

p {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
}

span {
  margin-left: auto;
  font-weight: 700;
  align-items: center;
}
