* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: #222;
  background-color: #fff;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  border: 1px solid saddlebrown;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

div#results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s;
}
